html, body {
	padding: 0;
	margin: 0;
}

img {
	width: 200px;
	height: 200px;
}

span {
	padding: 0 10px 0;
}

.users {
	display: flex;
	margin: 10px;
	padding: 10px;
	background-color: #b6c4cb;
}

.main {
	font-weight: 100;
}

span > span {
	font-size: 20px;
	font-weight: 600;
}
